cache.properties
cache.properties.lock
fileHashes.bin
fileSnapshots.bin
outputFileStates.bin
taskArtifacts.bin
.name
compiler.xml
profiles_settings.xml
encodings.xml
gradle.xml
Gradle__eu_hansolo_enzo_Enzo_0_3_1.xml
Gradle__junit_junit_4_11.xml
Gradle__org_hamcrest_hamcrest_core_1_3.xml
jl1_0.xml
misc.xml
modules.xml
uiDesigner.xml
workspace.xml
*.class
/org.ledalizer.iml
